# Eclipse stuff
.classpath
.project
.settings/

# netbeans
nbproject/
nbactions.xml

# we use maven!
build.xml

# maven
target/
*/target/
*/*/target/
dependency-reduced-pom.xml

# vim
.*.sw[a-p]

# various other potential build files
build/
bin/
dist/
manifest.mf

# Mac filesystem dust
.DS_Store

# intellij
*.iml
*.ipr
*.iws
.idea/

# other files
*.log*

# delombok
*/src/main/lombok

.vscode
test_run/
*.jar

native/libdeflate
native/zlib
native/mbedtls
native/src/main/c/.cache
native/src/main/c/.cache/*
native/src/main/c/CMakeFiles
native/src/main/c/cmake_install.cmake
native/src/main/c/CMakeCache.txt
native/src/main/c/Makefile